*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
:root{
    --fontfam: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    font-family: var(--fontfam);
    background-color: #fafafa;
}

.photo-slider{
    position: absolute;
}


.photo{
    position: absolute;
    left: 151px;
    top: 100px;
    
}

.main{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.8rem;
}
.slider{
    display: flex;
   margin-top: -1rem;
}
.login{
    width: 22.2rem;
    min-width: 300px;
    margin-left: -20px;
}

.form{
    text-align: center;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.form .logo{
    font-size: 2.5rem;
    font-family: 'Satisfy', cursive;
    margin: 1rem;
}

.form .inputs{
    position: relative;
    flex-direction: row;
    margin: 35px 4px 24px 4px;
}
.form .inputs input{
    width: 82%;
    height: 2.5rem;
    font-size: 12px;
    margin: 4px;
    padding: 8px;
    background-color: #fafafa;
    border: 1px solid #e0e0e0;
    border-radius: 3px;  
    font-family: var(--fontfam);
}

.form .inputs .show-password{
    position: absolute;
    right: 2.5rem;
    top: 3.9rem;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    display: none;
}

.form .inputs input:focus{
    border: 1px solid #999999;
}
.form .inputs .button{
    background-color: #0095F6;
    cursor: pointer;
    width: 80%;
    height: 2rem;
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    color: #ffffff;
}



.form span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    color: #999999;
    font-family: var(--fontfam);
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 14px;
}
.form hr{
    width: 5rem;
    height: 0;
    margin: 0 2rem;
    background-color:#e0e0e0;
    border: 1px solid #e0e0e0;
}
.form .facebook-link {
    color:#385185;
    font-size: 14px;
    font-weight: 600;
    font-family: var(--fontfam);
  
}

.form .facebook-link i{
    margin-right: 8px;
    font-size: 1rem;
}

.form .reset-password h4{
    margin: 24px 0 10px 0;
    font-weight: 400;
    font-size: 12px;
    color: #00376b;
}
.login .sign-up{
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.login .sign-up h4 a{
    color: #0095f6;
    font-weight: 600;
}
.login .sign-up h4{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}
.login .dwnld-app{
    text-align: center;
    
}
.login .dwnld-app h4{
    font-weight: 400;
    font-size: 14px;
    margin: 1.5rem;
}

.login .dwnld-app img{
    width: 136px;
    margin-right: 6px;
}

/*-------------------------FOOTER------------------*/

.footer{
    width: 100%;
    margin: 50px 0;
    min-height: 160px;
}
.footer h3{
    width: 50px auto;
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 400;
    margin-left: 12px;
}

.footer .top-link,.footer .bottom-link, .footer span{
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer .bottom-link{
    width: 40%;
}
.footer span{
    margin-top: 30px;
}

/*-----------------------RESPONSİVE-------------------------*/
@media screen and (max-width: 875px) {
   .slider{
       display: none;
   }
   .footer .top-link,.footer .bottom-link, .footer span{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 14px;
}
}

@media screen and (max-width: 450px) {
    body{
        background-color: #fff;
    }
  .login{
    width: 100vh;
    height: 100vh;
    margin:0;
   
  }
  .form, .login .sign-up{
    border: none;
  }
  .main{
      margin: 0; 
  }
  
  
}

@media screen and (min-width: 2560px) {

    .main{
       margin: 10%;
    }
    
  }